*{
	margin:0;
	padding:0;
}
header{
	width:100%;
	height:100vh;
	background-image:url('images/taj.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.navsection{
	width:100%;
	color:white;
	height:15vh;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#0002;
}
.logo{
	width:25%;
	text-align:center;
	text-transform:uppercase;
	font-size:17px;
	word-spacing:3px;
	font-weight:900;
}
nav{
	width:40%;
	display:flex;
	justify-content:space-around;
	text-transform:uppercase;
	font-size:17px;
	font-weight:900;
}
nav a{
	text-decoration:none;
	width:33%;
	color:white;
}
main{
	width:100%;
	height:85vh;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	color:white;
}
section h3{
	text-transform:uppercase;
	font-size:35px;
	word-spacing:3px;
	font-weight:200;
	text-shadow:1px 1px 2px black;
}
section h1{
	text-transform:uppercase;
	word-spacing:3px;
	font-weight:700;
	font-size:55px;
	text-shadow:2px 1px 3px black;
	margin:20px 0 20px 0;
}
section p{
	font-size:30px;
	word-spacing:3px;
	font-weight:200;
	text-shadow:1px 1px 2px black;
}
section .btnone{
	text-decoration:none;
	font-weight:900;
	font-size:14px;
	text-align:center;
	padding: 12px 25px;
	text-transform:uppercase;
	border-radius: 5px;
	display: inline-block;
	margin-right:50px;
	color:#000;
	letter-spacing:0;
	background-color:#fff;
	border: double 2px transparent;
}
section .btntwo{
	text-decoration:none;
	font-weight:900;
	font-size:14px;
	text-align:center;
	padding: 12px 25px;
	text-transform:uppercase;
	border-radius: 5px;
	display: inline-block;
	
	color:#fff;
	letter-spacing:0;
	background-image:linear-gradient(to right,#4458dc 0%,#854fee 100%);
	border: double 2px transparent;
}
.change:after{
	content:'';
	animation: change 10s infinite linear;
	color:#00b894;
}
@keyframes change{
	0%{content:"Mumbai";}
	20%{content:"Darjeeling";}
	35%{content:"Jammu";}
	60%{content:"Kashmir";}
	80%{content:"Delhi";}
	100%{content:"Mysore";}
}











